.countdown-container {
    padding: 20px 0;
    text-align: center;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.time-box {
    background-color: #faf9f7;
    border: 1px solid #dcd6cd;
    padding: 12px;
    border-radius: 4px;
    min-width: 65px;
}

.time-box span {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: #701c2b;
    display: block;
    line-height: 1;
}

.time-box p{
    font-size: 0.6rem;
    letter-spacing: 1.5px;
    color: #777;
    margin-top: 4px;
}

